# Question- 1 

## Dataset results using model transformation :

### Import libraries

In [9]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

### Import Dataset

In [2]:
delivery_time_original_dataset = pd.read_csv('delivery_time.csv',sep=',')
delivery_time_original_dataset.head()

   Delivery Time  Sorting Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

### Changing columns name for analysis

In [3]:
delivery_time_original_dataset.columns=['delivery_time','sorting_time']
delivery_time_original_dataset.head()

   delivery_time  sorting_time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

### Analysis using original data set

### Model- 1

In [4]:
import statsmodels.formula.api as smf
delivery_time_linear_model_1 = smf.ols(formula = 'delivery_time ~ sorting_time',data = delivery_time_original_dataset).fit()
delivery_time_linear_model_1

In [5]:
print('R2 Score          :',round(delivery_time_linear_model_1.rsquared,5)) 
print('Adjusted R2 Score :',round(delivery_time_linear_model_1.rsquared_adj,5))
print('AIC               :',round(delivery_time_linear_model_1.aic,4))
print('BIC               :',round(delivery_time_linear_model_1.bic,4))

R2 Score          : 0.68227
Adjusted R2 Score : 0.66555
AIC               : 106.714
BIC               : 108.803

In [6]:
delivery_time_linear_model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          delivery_time   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.666
Method:                 Least Squares   F-statistic:                     40.80
Date:                Thu, 06 Jan 2022   Prob (F-statistic):           3.98e-06
Time:                        18:14:00   Log-Likelihood:                -51.357
No. Observations:                  21   AIC:                             106.7
Df Residuals:                      19   BIC:                             108.8
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        6.5827      1.722      3.823      0.001       2.979      10.186
sorting_time     1.6490      0.258      6.387      0.000       1.109       2.189
==============================================================================
Omnibus:                        3.649   Durbin-Watson:                   1.248
Prob(Omnibus):                  0.161   Jarque-Bera (JB):                2.086
Skew:                           0.750   Prob(JB):                        0.352
Kurtosis:                       3.367   Cond. No.                         18.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### Model -2

In [14]:
delivery_time_dataset_1 = delivery_time_original_dataset.copy()
delivery_time_dataset_1.head()

   delivery_time  sorting_time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [15]:
delivery_time_dataset_1['log_delivery_time'] = np.log(delivery_time_dataset_1['delivery_time'])
delivery_time_dataset_1['log_sorting_time'] = np.log(delivery_time_dataset_1['sorting_time'])
delivery_time_dataset_1.head()

   delivery_time  sorting_time  log_delivery_time  log_sorting_time
0          21.00            10           3.044522          2.302585
1          13.50             4           2.602690          1.386294
2          19.75             6           2.983153          1.791759
3          24.00             9           3.178054          2.197225
4          29.00            10           3.367296          2.302585

In [16]:
delivery_time_dataset_1.drop(labels=['delivery_time','sorting_time'],axis=1,inplace=True)
delivery_time_dataset_1.head()

   log_delivery_time  log_sorting_time
0           3.044522          2.302585
1           2.602690          1.386294
2           2.983153          1.791759
3           3.178054          2.197225
4           3.367296          2.302585

In [17]:
import statsmodels.formula.api as smf
delivery_time_linear_model_2 = smf.ols(formula = 'log_delivery_time ~ log_sorting_time',data = delivery_time_dataset_1).fit()
delivery_time_linear_model_2

In [18]:
print('R2 Score          :',round(delivery_time_linear_model_2.rsquared,5)) 
print('Adjusted R2 Score :',round(delivery_time_linear_model_2.rsquared_adj,5))
print('AIC               :',round(delivery_time_linear_model_2.aic,4))
print('BIC               :',round(delivery_time_linear_model_2.bic,4))

R2 Score          : 0.77216
Adjusted R2 Score : 0.76017
AIC               : -16.5813
BIC               : -14.4922

In [19]:
delivery_time_linear_model_2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:      log_delivery_time   R-squared:                       0.772
Model:                            OLS   Adj. R-squared:                  0.760
Method:                 Least Squares   F-statistic:                     64.39
Date:                Thu, 06 Jan 2022   Prob (F-statistic):           1.60e-07
Time:                        18:17:10   Log-Likelihood:                 10.291
No. Observations:                  21   AIC:                            -16.58
Df Residuals:                      19   BIC:                            -14.49
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            1.7420      0.133     13.086      0.000       1.463       2.021
log_sorting_time     0.5975      0.074      8.024      0.000       0.442       0.753
==============================================================================
Omnibus:                        1.871   Durbin-Watson:                   1.322
Prob(Omnibus):                  0.392   Jarque-Bera (JB):                1.170
Skew:                           0.577   Prob(JB):                        0.557
Kurtosis:                       2.916   Cond. No.                         9.08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### Model -3

In [13]:
delivery_time_dataset_2 = delivery_time_original_dataset.copy()
delivery_time_dataset_2.head()

   delivery_time  sorting_time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [14]:
delivery_time_dataset_2['sqrt_delivery_time'] = np.sqrt(delivery_time_dataset_2['delivery_time'])
delivery_time_dataset_2['sqrt_sorting_time'] = np.sqrt(delivery_time_dataset_2['sorting_time'])
delivery_time_dataset_2.head()

   delivery_time  sorting_time  sqrt_delivery_time  sqrt_sorting_time
0          21.00            10            4.582576           3.162278
1          13.50             4            3.674235           2.000000
2          19.75             6            4.444097           2.449490
3          24.00             9            4.898979           3.000000
4          29.00            10            5.385165           3.162278

In [15]:
delivery_time_dataset_2.drop(labels=['delivery_time','sorting_time'],axis=1,inplace=True)
delivery_time_dataset_2.head()

   sqrt_delivery_time  sqrt_sorting_time
0            4.582576           3.162278
1            3.674235           2.000000
2            4.444097           2.449490
3            4.898979           3.000000
4            5.385165           3.162278

In [16]:
import statsmodels.formula.api as smf
delivery_time_linear_model_3 = smf.ols(formula = 'sqrt_delivery_time ~ sqrt_sorting_time',data = delivery_time_dataset_2).fit()
delivery_time_linear_model_3

In [17]:
print('R2 Score          :',round(delivery_time_linear_model_3.rsquared,5)) 
print('Adjusted R2 Score :',round(delivery_time_linear_model_3.rsquared_adj,5))
print('AIC               :',round(delivery_time_linear_model_3.aic,4))
print('BIC               :',round(delivery_time_linear_model_3.bic,4))

R2 Score          : 0.7292
Adjusted R2 Score : 0.71495
AIC               : 15.464
BIC               : 17.553

In [18]:
delivery_time_linear_model_3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     sqrt_delivery_time   R-squared:                       0.729
Model:                            OLS   Adj. R-squared:                  0.715
Method:                 Least Squares   F-statistic:                     51.16
Date:                Thu, 06 Jan 2022   Prob (F-statistic):           8.48e-07
Time:                        18:00:31   Log-Likelihood:                -5.7320
No. Observations:                  21   AIC:                             15.46
Df Residuals:                      19   BIC:                             17.55
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             1.6135      0.349      4.628      0.000       0.884       2.343
sqrt_sorting_time     1.0022      0.140      7.153      0.000       0.709       1.295
==============================================================================
Omnibus:                        2.869   Durbin-Watson:                   1.279
Prob(Omnibus):                  0.238   Jarque-Bera (JB):                1.685
Skew:                           0.690   Prob(JB):                        0.431
Kurtosis:                       3.150   Cond. No.                         13.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### Model-4

In [19]:
delivery_time_dataset_3 = delivery_time_original_dataset.copy()
delivery_time_dataset_3.head()

   delivery_time  sorting_time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [20]:
delivery_time_dataset_3['cbrt_delivery_time'] = np.cbrt(delivery_time_dataset_3['delivery_time'])
delivery_time_dataset_3['cbrt_sorting_time'] = np.cbrt(delivery_time_dataset_3['sorting_time'])
delivery_time_dataset_3.head()

   delivery_time  sorting_time  cbrt_delivery_time  cbrt_sorting_time
0          21.00            10            2.758924           2.154435
1          13.50             4            2.381102           1.587401
2          19.75             6            2.703060           1.817121
3          24.00             9            2.884499           2.080084
4          29.00            10            3.072317           2.154435

In [21]:
delivery_time_dataset_3.drop(labels=['delivery_time','sorting_time'],axis=1,inplace=True)
delivery_time_dataset_3.head()

   cbrt_delivery_time  cbrt_sorting_time
0            2.758924           2.154435
1            2.381102           1.587401
2            2.703060           1.817121
3            2.884499           2.080084
4            3.072317           2.154435

In [22]:
import statsmodels.formula.api as smf
delivery_time_linear_model_4 = smf.ols(formula = 'cbrt_delivery_time ~ cbrt_sorting_time',data = delivery_time_dataset_3).fit()
delivery_time_linear_model_4

In [23]:
print('R2 Score          :',round(delivery_time_linear_model_4.rsquared,5)) 
print('Adjusted R2 Score :',round(delivery_time_linear_model_4.rsquared_adj,5))
print('AIC               :',round(delivery_time_linear_model_4.aic,4))
print('BIC               :',round(delivery_time_linear_model_4.bic,4))

R2 Score          : 0.74412
Adjusted R2 Score : 0.73065
AIC               : -22.071
BIC               : -19.9819